// Place all the styles related to the Climbers/Climbers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main-visual{
	width: 100%;/*横幅*/
	height:500px;/*高さ*/
	background-image: url('../top2.jpg');
  background-size: cover;/*縦横比率を維持したまま背景領域を埋め尽くす*/
  background-position: center;
}

.main-visual-content{
	width:35%;
  height:500px;
  text-align: center;/*文字を中央揃えにする*/

	padding-top:105px;/*上側の内側余白で垂直方向の位置を調整*/
}

.main-visual-text{
	color:#fff;/*文字色を白に変更*/
}

.main-visual-name{
	margin-top:30px;/*上側の外側の余白*/
	color: #fff;/*文字色を白に変更*/
}

.main{
	width: 800px;
	margin: 0 auto;/*領域を中央揃え*/
	padding:70px 0;/*上下に70px、左右に0pの内側余白*/
}
