// Place all the styles related to the Climbers/Gyms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn.demo{
  display:none;
}

.modal-body {
  font-size: 18px;
  line-height: 2.5;
  font-family: Prompt,sans-serif;
  font-weight: 500;
}