   <div class="content">
        <h1>入会申込み</h1>
        <p>入会するには次のフォームに必要事項をご記入ください</p>
        <div class="control">
            <label for="mymail">メールアドレス
                <span class="required">必須</span></label>
            <input id="mymail" type="email" name="mymail">
        </div>
        <div class="control">
            <p>
              <label for="passcode">
              パスワード
                <span class="required">
                  必須
                </span>
              </label>
            </p>
            <input id="passcode" type="password" name="passcode">
        </div>
        <div class="control">
            <button type="submit">登録する</button>
        </div>
    </div>