NOBORO登録者一覧

<table>
  <thead>
      <tr>
        <th>名前</th>
      </tr>
  </thead>
  <tbody>
  <% @climbers.each do |f| %>
    <tr>
      <td><%= f.name%></td>
    </tr>
    <% end %>
  </tbody>
</table>