<div class="container">
  <h1>お知らせ</h1>
  <table class="table">
    <thead>
      <tr>
        <th>
          ジム
        </th>
        <th>
          お知らせ
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% if @favorites.present? %>
      <% @favorites.each do |f|%>
        <tr>
          <td>
            <%= link_to f.gym.gym_name,gym_path(f.gym.id) %>
          </td>
        <% f.gym.infos.each do |info| %>
          <td>
            <%= info.info %>
          </td>
        <% end %>
          <td>
            <%= f.updated_at.strftime("%Y/%m/%d") %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <h3 class="text-center">
          メッセージはまだありません
        </h3>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="centering_item">
    <%= paginate @trophys %>
  </div>
</div>