</div>

<!-- main-visual用のdv -->
<div class="top-visual">

<div class="container">
<div class="top-visual-content">
<p class="kv-copy">
<section class="message-intro l-intro js-inview in-view">

<div class="l-visual">
<div class="shape js-luxy" data-speed-y="8" data-offset="-40" style="transform: translate3d(0px, 124.48px, 0px);"></div>
<div class="shape js-luxy" data-speed-y="8" data-offset="-40" style="transform: translate3d(0px, 124.48px, 0px);">
<div class="bg-girl js-luxy" data-speed-y="6" data-offset="-30" style="transform: translate3d(0px, 93.36px, 0px);"><img src="/img/top/concept_girl_bg.png" alt=""></div>
<div class="bg-boy js-luxy" data-speed-y="6" data-offset="-30" style="transform: translate3d(0px, 93.36px, 0px);"><img src="/img/top/concept_boy_bg.png" alt=""></div>
</div>
</div>
<div class="l-txtContainer">
<h2 class="c-topTitle">
<b class="wrap"><span>NOBOROご利用方法</span></b>
</h2>
<h2 class="c-topTitle">
<p class="txt v-pc">
<span class="ja wrap"><span>↓ How to use NOBORO ↓</span></span>
</h2>
<p class="copy c-boxTxt">
  <h1 class="kv-title v-pc">
    <span class="tx-mask"><span>ジム検索</span></span><br>
  </h1>
</p>
<p class="copy c-boxTxt">
<strong class="box"><span class="wrap multi"><span>お気に入りのジムを探したい</span></strong><br>
<strong class="box"><span class="wrap multi"><span>そんなときに</span></strong><br>
</p>

<p class="txt v-pc"<>
<span class="wrap multi"><span>ジムの特徴別に検索することができます</span></span><br>
<span class="wrap multi"><span>「初心者だけど大丈夫かな」</span></span>
<span class="wrap multi"><span>「子供も連れて行ってもいいかな」</span></span>
<span class="wrap multi"><span>「コンペっぽい課題があるところがいいな」</span></span><br>
<span class="wrap multi"><span>ここで検索すれば希望のジムをすぐに見つけることができます。</span></span><br>
<span class="wrap multi"><span>好きなジムをお気に入り登録すると、</span></span>
<span class="wrap multi"><span>お気に入り登録したジムからのお知らせがタイムラインで表示されます</span></span><br>
<span class="wrap multi"><span>もちろん名前検索もできるぞ</span></span>
</p>
<p class="lead">
<span class="wrap"><span>
<span class="wrap mark"><span>※会員登録をしなくてもご利用いただけます</span></span>
</p>
<h2 class="c-topTitle">
<span class="ja wrap"><span></span></span>
</h2>

<p class="copy c-boxTxt">
  <h1 class="kv-title v-pc">
    <span class="tx-mask"><span>課題チェックシート</span></span><br>
  </h1>
</p>
<p class="copy c-boxTxt">
<strong class="box"><span class="wrap multi"><span>あれ、これ登ったっけ？</span></strong><br>
<strong class="box"><span class="wrap multi"><span>そうならないために</span></strong><br>
</p>

<p class="txt v-pc">
<span class="wrap multi"><span>ジムの詳細ページには、課題一覧のチェックシートがあります</span></span><br>
<span class="wrap multi"><span>ジムには沢山課題があるから</span></span>
<span class="wrap multi"><span>どれを登ったか分からなくなりますよね</span></span><br>
<span class="wrap multi"><span>そうならないために、登れた課題はクリックして登れた！チェックマークをつけて記録しよう</span></span><br>
<span class="wrap multi"><span>ここでつけたチェックの数がランキングに反映されます</span></span>
</p>
<p class="lead">
<span class="wrap"><span>
<span class="wrap"><span>ジムごとにチェックシートがあります </span></span>
</p>
<h2 class="c-topTitle">
<span class="ja wrap"><span></span></span>
</h2>


<p class="copy c-boxTxt">
  <h1 class="kv-title v-pc">
    <span class="tx-mask"><span>ランキング</span></span><br>
  </h1>
</p>
<p class="copy c-boxTxt">
<strong class="box"><span class="wrap multi"><span>比べるものじゃないけど</span></strong><br>
<strong class="box"><span class="wrap multi"><span>やっぱり気になる</span></strong><br>
</p>


<p class="txt v-pc">
<span class="wrap multi"><span>1ヶ月毎の登れた本数でランキングを表示しています。</span></span><br>
<span class="wrap multi"><span>「どれくらい登れたかな？」</span></span>
<span class="wrap multi"><span>「いつもより沢山登れたかな？」</span></span>
<span class="wrap multi"><span>「この人には負けたくない！」</span></span>
<span class="wrap multi"><span>「1番じゃなきゃいやだ！」</span></span><br>
<span class="wrap multi"><span>人と競うのも、過去の自分と比較するのも、</span></span>
<span class="wrap multi"><span>数値に現れたらひとめで分かる。</span></span><br>
<span class="wrap multi"><span>ランキング機能をモチベーションの維持に活用してください</span></span>
</p>

<p class="lead">
<span class="wrap"><span>
<span class="wrap mark"><span>※ランキングの表示は二種類あります</span></span>
</p>
<p class="txt v-sp">
<span class="wrap multi"><span>全部のジムの登れた！総数のランキングが見たい！</span></span><br>
<span class="wrap multi"><span>ヘッダーのランキングリンク→全ジムの登れた！ランキング</span></span><br>
<span class="wrap multi"><span>お気に入りのジムの中でどれだけ登れたかのランキングが見たい！</span></span><br>
<span class="wrap multi"><span>ジムの詳細ページ→「今月のランキング」 →そのジムの登れた！ランキング</span></span><br>
</p>
<h2 class="c-topTitle">
<span class="ja wrap"><span></span></span>
</h2>


<p class="copy c-boxTxt">
  <h1 class="kv-title v-pc">
    <span class="tx-mask"><span>トロフィー</span></span><br>
  </h1>
</p>
<p class="copy c-boxTxt">
<strong class="box"><span class="wrap multi"><span>集める楽しみって、あるよね</span></strong><br>
</p>


<p class="txt v-pc">
<span class="wrap multi"><span>一つのグレードに対する全ての課題を登れたらトロフィーをゲットできます</span></span><br>
<span class="wrap multi"><span>例えば、5級の課題が3本あったとき、</span></span>
<span class="wrap multi"><span>3本全部登れたらトロフィーを獲得することができます</span></span><br>
<span class="wrap multi"><span>トロフィーってどんなの？</span></span>
<span class="wrap multi"><span>...それは見てのお楽しみ</span></span><br>
<span class="wrap multi"><span>ゲットしたらマイページの「獲得したトロフィー」を見てみよう</span></span><br>
<span class="wrap multi"><span>グレード毎に違う種類のトロフィーをゲットできます</span></span></span>
</p>
<h2 class="c-topTitle">
<span class="ja wrap"><span></span></span>
</h2>

<p class="copy c-boxTxt">
  <h1 class="kv-title v-pc">
    <span class="tx-mask"><span>3Daysバトル</span></span><br>
  </h1>
</p>
<p class="copy c-boxTxt">
<strong class="box"><span class="wrap multi"><span>争いごとはきらい</span></strong><br>
<strong class="box"><span class="wrap multi"><span>でも、負けるのはもっときらい</span></strong><br>
</p>


<p class="txt v-pc">
<span class="wrap multi"><span>登れた課題数でライバルと勝負をしよう</span></span><br>
<span class="wrap multi"><span>バトルを申し込みたい相手のマイページ、またはランキングから「バトルを申し込む」ボタンをクリック</span></span><br>
<span class="wrap multi"><span>すると、相手にバトル申請の通知が送られます</span></span><br>
<span class="wrap multi"><span>相手がバトルを承認したらバトルがスタート！</span></span><br>
<span class="wrap multi"><span>承認されてから3日間のうちにどれだけ登れたかを競いましょう</span></span><br>
<span class="wrap multi"><span>バトル履歴を見ると過去の結果を見ることができます</span></span></span><br>
<span class="wrap multi"><span>負けたくないから、いつもより頑張れるかも</span></span></span>
</p>

<br>
<br>
<br>
<br>
<br>
<br>

<h2 class="c-topTitle">
<span class="ja wrap"><span></span></span>
</h2>
<h1></h1>
<p class="txt v-pc">
<span>ー　そもそも ボルダリングって何？　ー</span>
</p>
<p class="txt v-pc">
<span class="wrap"><span>
<span class="wrap"><span>ボルダリングは室内でカラフルな石（ホールド）を使って登る遊びのこと </span></span><br>
<span class="wrap"><span>スタートから決められたホールドのみを使ってゴールまで登ります </span></span><br>
<span class="wrap"><span>ゴールに設定されているホールドを、両手でタッチしたらクリアです </span></span><br>
<span class="wrap"><span>3.4mほどの高さなので命綱はいりません</span></span><br>
<span class="wrap"><span>一人でも、大人数でも遊べます</span></span><br>
<span class="wrap"><span>初めは一番下のレベルも歯が立たなかったのに</span></span>
<span class="wrap"><span>続ければどんどん難しいレベルを触れる様になります</span></span><br>
<span class="wrap"><span>やればやるほど成長していく感覚が、</span></span>
<span class="wrap"><span>病みつきになること間違いなし</span></span>
</p>
<h1></h1>
<p class="txt v-pc">
<span>楽しいよ ボルダリング</span>
</p>
<p class="txt v-pc">
<span class="wrap"><span>
<span class="wrap"><span>ボルダリングって勝敗がない </span></span>
<span class="wrap"><span>勝敗がないのも魅力なんだけど、たまには競うのもモチベーションになるかな</span></span><br>
<span class="wrap"><span>登れたぞって、誰かに言いたいな </span></span>
<span class="wrap"><span>同じくらいのレベルの人と繋がりたいな </span></span><br>
<span class="wrap"><span>自分が登れた課題を管理したい </span></span>
<span class="wrap"><span>こんだけ登れたんだから、ご褒美が欲しい </span></span><br>
<span class="wrap"><span>このアプリで楽しみが少しでも増やすことができたら</span></span>
<span class="wrap"><span>そう思って作りました </span></span><br>
<span class="wrap"><span>ボルダリングをしたことがないって人も、</span></span>
<span class="wrap"><span>少しでも興味を持ってもらえたら嬉しいです</span></span><br>
<span class="wrap"><span>どうやって登るか考えるのがパズルみたいで、エンジニアは好きになる人多いと思うんだ</span></span>
</p>

<p class="kv-copy mark">
 <%= link_to ">> Sign Up", new_climber_registration_path %>
<a class="c-scroll"></a>



</div>
</section>
</div>
</div>
</div>