</div>
<!-- main-visual用のdv -->
<div class="top-visual">
<div class="top-visual-content">
  <h1 class="kv-title v-pc">
    <span class="tx-mask"><span>Free</span></span><br>
    <span class="tx-mask"><span>your</span></span><br>
    <span class="tx-mask"><span>self</span></span><br>
  </h1>
<p class="kv-copy">
<span class="tx-mask"><span>＞
  <%= @array_copy.sample %></span></span>
</p>

<div class="row">
<p class="kv-description">
<span class="tx-mask"><span>Our greatest weakness lies in giving up.</span></span>
<span class="tx-mask"><span>The most certain way to succeed is to try</span></span>
<span class="tx-mask"><span>just one more time.</span></span>
</p>
</div>
<p class="kv-copy mark">
 <%= link_to "Sign Up", new_climber_registration_path %>
<a class="c-scroll"></a>
</p>
<div class="container">
<section class="message-intro l-intro js-inview in-view">

<div class="l-visual">
<div class="shape js-luxy" data-speed-y="8" data-offset="-40" style="transform: translate3d(0px, 124.48px, 0px);"></div>
<div class="shape js-luxy" data-speed-y="8" data-offset="-40" style="transform: translate3d(0px, 124.48px, 0px);">
<div class="bg-girl js-luxy" data-speed-y="6" data-offset="-30" style="transform: translate3d(0px, 93.36px, 0px);"><img src="/img/top/concept_girl_bg.png" alt=""></div>
<div class="bg-boy js-luxy" data-speed-y="6" data-offset="-30" style="transform: translate3d(0px, 93.36px, 0px);"><img src="/img/top/concept_boy_bg.png" alt=""></div>
</div>
<div class="boy"><img src="/img/top/concept_boy.png" alt="" class="js-luxy" data-speed-y="2" data-offset="-10" style="transform: translate3d(0px, 31.12px, 0px);"></div>
<div class="girl"><img src="/img/top/concept_girl.png" alt="" class="js-luxy" data-speed-y="2" data-offset="-10" style="transform: translate3d(0px, 31.12px, 0px);"></div>
<div class="boy-smp"><img src="/img/top/concept_boy_smp.png" alt="" class="js-luxy" data-speed-y="4" data-offset="-20" style="transform: translate3d(0px, 62.24px, 0px);"></div>
<div class="girl-smp"><img src="/img/top/concept_girl_smp.png" alt="" class="js-luxy" data-speed-y="4" data-offset="-20" style="transform: translate3d(0px, 62.24px, 0px);"></div>
</div>
<div class="l-txtContainer">
<h2 class="c-topTitle">
<b class="wrap"><span>NOBORO</span></b>
<span class="ja wrap"><span>- 登ろ -</span></span>
</h2>
<p class="lead">
<span class="wrap"><span>コミュ障でも、わがままでも、</span></span>
<span class="wrap"><span>厨二病でもいい。</span></span>
</p>
<p class="copy c-boxTxt">
<strong class="box"><span class="wrap multi"><span>自</span><span>分</span><span>の</span><span>能</span><span>力</span><span>を</span></span></strong><br>
<strong class="box"><span class="wrap multi"><span>解</span><span>放</span><span>し</span><span>た</span><span>い</span><span>者</span><span>は</span><span class="v-pc">、</span></span></strong><br>
<strong class="box"><span class="wrap multi"><span>こ</span><span>こ</span><span>に</span><span>集</span><span>え</span><span class="v-pc">。</span></span></strong>
</p>
<p class="txt v-pc">
<span class="wrap multi"><span>型にはまらない。ではなく、型にはまれない。</span></span>
<span class="wrap multi"><span>それは「個性」というあなただけの武器です。</span></span>
<span class="wrap multi"><span>周りはそれを「わがまま」というかもしれない。</span></span>
<span class="wrap multi"><span>でも、まぎれもなくあなただけが持つ可能性であり、光。</span></span>
<span class="wrap multi"><span>私たちはそんな逸材を求めています。</span></span>
<span class="wrap multi"><span>誰よりも自由でわがままな者が持つ強烈な個性。</span></span>
<span class="wrap multi"><span>今までスポットライトを浴びられていなかったあなたの中に眠る能力。</span></span>
<span class="wrap multi"><span>この場所なら、思う存分その力を解放させられるでしょう。</span></span>
</p>
<p class="txt v-sp">
<span class="wrap multi"><span>型にはまらない。</span></span>
<span class="wrap multi"><span>ではなく、型にはまれない。</span></span>
<span class="wrap multi"><span>それは「個性」という</span></span>
<span class="wrap multi"><span>あなただけの武器です。</span></span>
<span class="wrap multi"><span>周りはそれを「わがまま」と</span></span>
<span class="wrap multi"><span>いうかもしれない。でも、</span></span>
<span class="wrap multi"><span>まぎれもなくあなただけが持つ</span></span>
<span class="wrap multi"><span>可能性であり、光。</span></span>
<span class="wrap multi"><span>私たちはそんな逸材を求めています。</span></span>
<span class="wrap multi"><span>誰よりも自由でわがままな者が持つ</span></span>
<span class="wrap multi"><span>強烈な個性。</span></span>
<span class="wrap multi"><span>今までスポットライトを</span></span>
<span class="wrap multi"><span>浴びられていなかったあなたの中に</span></span>
<span class="wrap multi"><span>眠る能力。</span></span>
<span class="wrap multi"><span>この場所なら、思う存分</span></span>
<span class="wrap multi"><span>その力を解放させられるでしょう。</span></span>
</p>
<a href="/person/" class="c-link" data-pjax-state="">求める人物像へ<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 80 80"><defs><path id="cLinkPath" d="M-1-1v21.3h10.1v39.4h-10.1v21.3h82v-82z"></path></defs><clipPath id="cLinkMask"><use xlink:href="#cLinkPath" overflow="visible"></use></clipPath><path class="c" d="M5 24c6.1-13.3 19.5-22.5 35-22.5 21.3 0 38.5 17.2 38.5 38.5s-17.2 38.5-38.5 38.5c-15.5 0-28.9-9.2-35-22.5"></path></svg></a>
</div>
</section>
</div>
</div>