</div>
<!-- main-visual用のdv -->
<div class="top-visual">
  <div class="top-visual-content">
      <h1 class="kv-title v-pc">
        <span class="tx-mask">ree</span><br>
        <span class="tx-mask">your</span><br>
        <span class="tx-mask">self</span><br>
      </h1>

    <p class="kv-copy">
      <span class="tx-mask">
        <%= @array_copy.sample %>
      </span>
    </p>

    <div class="row">
      <p class="kv-description">
        <span class="tx-mask">Our greatest weakness lies in giving up.</span>
        <span class="tx-mask">The most certain way to succeed is to try</span>
        <span class="tx-mask">just one more time.</span>
      </p>
    </div>

    <p class="kv-copy mark">
      <%= link_to "Sign Up", new_climber_registration_path %>
      <a class="c-scroll"></a>
    </p>

    <div class="container">
      <section class="message-intro l-intro js-inview in-view">
    </div>
  </div>
</div>