</div>
<!-- main-visual用のdv -->
<div class="top-visual">
<div class="top-visual-content">
  <h1 class="kv-title v-pc">
    <span class="tx-mask"><span>Free</span></span><br>
    <span class="tx-mask"><span>your</span></span><br>
    <span class="tx-mask"><span>self</span></span><br>
  </h1>
<p class="kv-copy">
<span class="tx-mask"><span>＞
  <%= @array_copy.sample %></span></span>
</p>

<div class="row">
<p class="kv-description">
<span class="tx-mask"><span>Our greatest weakness lies in giving up.</span></span>
<span class="tx-mask"><span>The most certain way to succeed is to try</span></span>
<span class="tx-mask"><span>just one more time.</span></span>
</p>
</div>
<p class="kv-copy mark">
 <%= link_to "Sign Up", new_climber_registration_path %>
<a class="c-scroll"></a>
</p>
<div class="container">
<section class="message-intro l-intro js-inview in-view">

<div class="l-visual">
<div class="shape js-luxy" data-speed-y="8" data-offset="-40" style="transform: translate3d(0px, 124.48px, 0px);"></div>
<div class="shape js-luxy" data-speed-y="8" data-offset="-40" style="transform: translate3d(0px, 124.48px, 0px);">
<div class="bg-girl js-luxy" data-speed-y="6" data-offset="-30" style="transform: translate3d(0px, 93.36px, 0px);"><img src="/img/top/concept_girl_bg.png" alt=""></div>
<div class="bg-boy js-luxy" data-speed-y="6" data-offset="-30" style="transform: translate3d(0px, 93.36px, 0px);"><img src="/img/top/concept_boy_bg.png" alt=""></div>
</div>
</div>
</div>
</div>
</div>