    <table class="table table-hover">
      <thead class="thead-lignt">
        <tr>
          <th>ジャンル検索</th>
        </tr>
      </thead>

      <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <td><%= link_to genre.genre_name, gyms_path(genre_id: genre.id) %></td>
          </tr>
          <% end %>
      </tbody>
    </table>