/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome'; 








* {
  margin:0; padding:0;
}

html {
    font-size: 10px;
    font-family: sans-serif;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial,
    sans-serif;
    line-height: 1.42857143;
    display: block;
    margin-top: 60px;
    color: #333333;
    background-color: #fff;
    }

div {
    display: block;
    }

header {
    color: white;
    margin: 0,auto;
}


header a:hover {
    color: white;
    background-color: #222;
    text-decoration:none;
}

header li {
  display: inline-block;
  padding: 0 15px;
  color: #9d9d9d;
  font-family: 'Glyphicons Halflings';
  }