<h1>フォローしてくれてる人一覧</h1>
  <table class="table">
    <tr>
      <th></th>
      <th>名前</th>
      <th></th>
    </tr>
  <% @climber.followers.each do |climber| %>
    <tr>
      <td>  <%= climber.name %> </td>
      <td><%= link_to '詳細', climber_path(climber) %></td>
    </tr>
  <% end %>
</table>
