	<!-- ここからフューチャー -->
	<div class="feature">
	 <section id="feature">
				<h2 class="heading">ー　獲得したトロフィー　ー</h2>
				<div class="ander"></div>
			<div class="strength-group clearfix">
			<% @trophys.each do |f| %>
				<div class="strength">
					<h3 class="feature-title"><%= f.my_trophy_name%></h3>
					<%= attachment_image_tag f, :my_trophy_image, size: '100x100',format: "jpeg",fallback: "ira13.png" %>
					<h3 class="feature-title"><%= f.updated_at.strftime("%Y/%m/%d") %></h3>
				</div>
				<% end %>
	</section>
</div>