<h2>今月のランキング</h2>

あなたのランキングは<%= @my_rank %>位です

<table>
    <thead>
        <tr>
            <th>名前</th>
        </tr>
    </thead>
    <tbody>
        <% @rank_done_tasks.each do |f| %>
        <tr>
            <td>
              <%= link_to climber_path(f.climber_id) do %>
                  <%= f.climber.name %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

            
