<h2>今月のランキング</h2>

あなたのランキングは<%= @my_rank %>位です

<table>
    <thead>
        <tr>
            <th>名前</th>
        </tr>
    </thead>
    <tbody>
        <% @rank_done_tasks.each do |f| %>
        <tr>
            <td><%= f.climber.name %></td>
        </tr>
        <% end %>
    </tbody>
</table>

            
